@import "tailwindcss";

.page-container {
  padding: 30px;
  margin-left: 220px; /* space for sidebar */
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.form-grid {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.primary-btn {
  margin-top: 15px;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #1d4ed8;
}

.success-btn {
  margin-top: 10px;
  padding: 8px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.success-btn:hover {
  background-color: #15803d;
}


.total-box {
  background: #eef2ff;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.table-wrapper {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  overflow-x: auto;
}

.pr-table {
  width: 100%;
  border-collapse: collapse;
}

.pr-table th {
  text-align: left;
  padding: 20px;
  background-color: #f3f4f6;
  font-weight: 600;
}

.pr-table td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.pr-table tr:hover {
  background-color: #f9fafb;
}

.status-badge {
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.status-badge.approved {
  background-color: #dcfce7;
  color: #166534;
}

.status-badge.pending {
  background-color: #fef9c3;
  color: #854d0e;
}

.status-badge.rejected {
  background-color: #fee2e2;
  color: #991b1b;
}